      
      <%= render partial: "/users/user_image"%>
      
      <h2><%= @user.name %></h2>
      <br>
      【紹介文】
      <!--エスケープ処理でhttp,httpを許可している-->
      <% if @user.profile %>
        <p><%= sanitize text_url_to_link(@user.profile), tags: %w(b a), attributes: %w(href) %></p>
      <% end %>
      
      
      
      

      
      <ul class="user-menus">
  
        <li class="<%= 'user-header-selecting' if current_page?(user_path) %>"><%= link_to "投稿履歴",user_path %></li>
    
        <li class="<%= 'user-header-selecting' if current_page?("/users/#{@user.id}/likes") %>"><%= link_to "いいね履歴","/users/#{@user.id}/likes" %></li>
        
        <li class="<%= 'user-header-selecting' if current_page?("/users/#{@user.id}/comments") %>"><%= link_to "コメント履歴","/users/#{@user.id}/comments" %></li>
        
      </ul>