<div class="main users-new">
  <div class="container">
    <div class="form-heading">ユーザー情報の編集</div>
    <%= form_with model: @user, local: true do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      <div class="form users-form">
        <div class="form-body">
          <%= f.label :name, 'ユーザー名' %>
          <%= f.text_field :name %>
          
          <%= f.label :profile, 'プロフィール' %>
          <%= f.text_area :profile, placeholder: '紹介文を入力してください' %>
          
          
          
          
          <%= f.submit "編集する"%>
          <%= link_to '削除する',user_path(@user),method: :delete,data: { confirm: '本当に削除しますか？一度削除したら元に戻せません' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

