<div class="main users-new">
  <div class="container">
    <div class="form-heading">ユーザー情報の編集</div>
    <%= form_with model: @user, local: true do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      <div class="form users-form">
        <div class="form-body">
          <%= f.label :name, 'お名前' %>
          <%= f.text_field :name %>
          
          <%= f.label :email, 'メールアドレス' %>
          <%= f.text_field :email %>
          
          <%= f.submit "編集する"%>
        </div>
      </div>
    <% end %>
  </div>
</div>

