<div class="main users-new">
  <div class="container">
    <div class="form-heading">ユーザー情報の編集</div>
    <%= form_with model: @user, local: true do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      <div class="form users-form">
        <div class="form-body">
          <%= f.label :name, 'お名前' %>
          <%= f.text_field :name %>
          
          <%= f.label :email, 'メールアドレス' %>
          <%= f.text_field :email %>
          
          <%= f.label :password, 'パスワード' %>
          <%= f.text_field :password, placeholder: '6文字以上で入力して'%>
          
          <%= f.label :password_confirmation, 'パスワード(確認)' %>
          <%= f.text_field :password_confirmation, placeholder: '確認用' %>
          
          
          <%= f.submit "編集する"%>
          <%= link_to '削除する',user_path(@user),method: :delete,data: { confirm: '本当に削除しますか？一度削除したら元に戻せません' } %>
        </div>
      </div>
    <% end %>
  </div>
</div>

