<div class="main users-new">
  <div class="container">
    <div class="form-heading">新規ユーザー登録</div>
    
    <%= form_with model: @user, local: true do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      <div class="form users-form">
        <div class="form-body">
          <%= f.label :name, 'ユーザー名' %>
          <%= f.text_field :name %>
          
          <%= f.label :email, 'メールアドレス' %>
          <%= f.text_field :email %>
          
          <%= f.label :password, 'パスワード' %>
          <%= f.password_field :password, placeholder: '8文字以上12文字以内(半角英数字それぞれ１文字以上含む)' %>
          
          <%= f.label :password_confirmation, 'パスワード(確認)' %>
          <%= f.password_field :password_confirmation %>
          
          
          <%= link_to 'ログインはこちら',login_path %>
          
          <%= f.submit "新規登録"%>
        </div>
      </div>
    <% end %>
    
    
  </div>
</div>