<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      
      <!--書き直す-->
      <% if not @user %>
        <%= image_tag "default.jpg", :size => '100x100' %>
      <% elsif @user.image? %>
        <%= image_tag @user.image.url %>
      <% elsif not @user.image? %>
        <%= image_tag "default.jpg", :size => '100x100' %>
      <% end %>
      
      <% if @user %>
        <%= link_to @user.name,user_path(@user) %>
      <% else %>
        （既に退会したユーザー）
      <% end %>
      
      <div class="post-time">
        <% if @post.created_at == @post.updated_at %>
          <%= shape_create_time(@post.created_at)%>に投稿
        <% else %>
          <%= shape_create_time(@post.updated_at)%>に更新
        <% end %>
      </div>
      
      
      
      <font size="5">
        <%= @post.title %>
      </font>
        <br>
        <br>
        
      <font size="3">
        <%= sanitize text_url_to_link(@post.content), tags: %w(b a), attributes: %w(href) %>
      </font>
      
      <% unless  @post.updated_at == @post.created_at %>
        <div class="post-comment">（編集済み）</div>
      <% end %>
      
      <br>
      <br>
      <td id="like-<%= @post.id %>">
        <%= render partial: "like", locals: { post: @post } %>
      </td>
      
      
      
      <% if @post.user_id == current_user.id %>
        <div class="post-menus">
          <%= link_to "編集",edit_post_path %>
          <%= link_to "削除",post_path(@post), method: :delete, data: { confirm: '本当に削除してもよろしいですか？', cancel: 'キャンセル', commit: '削除する'}, title: '削除確認' %>
        </div>
      <% end %>
      
      
      
      
    </div>
    <br>
    <div>
      <h3>コメント一覧</h3>
      <p><%= @post.comments.count %>件のコメント</p>
      <br>
      <% if @post.comments.any? %>
      
        <% @post.comments.each do |comment| %>
          <% if comment.user %>
            <%= link_to comment.user.name,user_path(comment.user) %>
          <% else %>
            （既に退会したユーザー）
          <% end %>
            
          <%= sanitize text_url_to_link(comment.content), tags: %w(b a), attributes: %w(href) %>
          
          <div class="post-comment">
            <%= shape_create_time(comment.created_at) %>
          </div>
          <hr>
        <% end %>
      <% else%>
        <p>まだコメントがありません</p>
      <% end %>
      
    </div>
    
    <h3>コメントする</h3>
    

    
      <%= form_with model: [@post, @comment], local: true do |f| %>
      
      <div class="form">
        <div class="form-body">
      
        <%= f.hidden_field :post_id, {value: @post.id } %>
        
        
        
        <%= f.text_area :content %>
        <%= f.submit '投稿' %>
        
        
        </div>
      </div>
        
    <% end %>
    

  </div>
</div>