<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <%= link_to @user.name,user_path %>
      <p>
        <%= @post.title %>
        <%= @post.content %>
      </p>
      <% if Like.find_by(user_id: current_user.id,post_id: @post.id) %>
        <%= link_to 'いいね済',"/likes/#{@post.id}/destroy",method: :post %>
      <% else %>
        <%= link_to 'いいね',"/likes/#{@post.id}/create",method: :post %>
      <% end %>
      <%= Like.where(post_id: @post.id).count %>
      
      <div class="post-time">
        <%= @post.created_at%>
      </div>
    
      
      
      
      <% if @post.user_id == current_user.id %>
        <div class="post-menus">
          <%= link_to "編集",edit_post_path %>
          <%= link_to "削除",post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' } %>
        </div>
      <% end %>
      
      
    </div>
  </div>
</div>