<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <%= link_to @user.name,user_path(@user) %>
      <p>
        <%= @post.title %>
        <%= @post.content %>
      </p>
      <% if Like.find_by(user_id: current_user.id,post_id: @post.id) %>
        <%= link_to 'いいね済',"/likes/#{@post.id}/destroy",method: :post %>
      <% else %>
        <%= link_to 'いいね',"/likes/#{@post.id}/create",method: :post %>
      <% end %>
      <%= Like.where(post_id: @post.id).count %>
      
      <div class="post-time">
        <%= @post.created_at%>
      </div>
    
      <% unless  @post.updated_at == @post.created_at %>
        <p>編集済です</p>
      <% end %>
      
      
      <% if @post.user_id == current_user.id %>
        <div class="post-menus">
          <%= link_to "編集",edit_post_path %>
          <%= link_to "削除",post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' } %>
        </div>
      <% end %>
      
      
    </div>
    <div>
      <h3>コメント一覧</h3>
      <% if @post.comments.any? %>
        <% @post.comments.each do |comment| %>
            <%= link_to comment.user.name,user_path(comment.user) %>
            <%= comment.content%>
        <% end %>
      <% else%>
        <p>まだコメントがありません</p>
      <% end %>
      
    </div>
    
    <h3>コメントする</h3>
    <%= form_with model: [@post, @comment], local: true do |f| %>
      <%= f.hidden_field :post_id, {value: @post.id } %>
      
      
      <%= f.label :content, '内容' %>
      <%= f.text_area :content %>
      <%= f.submit '投稿' %>
    <% end %>
  </div>
</div>