<header>
  <div class="header-logo">
    <%= link_to "TSUKUTTE", root_path %>
  </div>
  
<ul class="header-menus">
  <% if logged_in? %>
  
    <li>
      <%= form_with(url: posts_path, method: :get, local: true) do |f| %>
        <%= f.text_field :search %>
        <%= f.submit '投稿検索' %>
      <% end %>
    </li>
    
    
    <li>
      <%= link_to "新規投稿", new_post_path %>
    </li>
    
    <li>
      <%= link_to "ユーザー一覧", users_path %>
    </li>
    
    <li>
      <%= link_to 'ログアウト', logout_path,method: :delete , data: { confirm: 'ログアウトしてよろしいですか？' } %>
    </li>
    
  <% else %>
  
    <li>
      <%= link_to "TSUKUTTEとは", about_path %>
    </li>
    
    <li>
      <%= link_to "新規登録", new_user_path %>
    </li>
    
    <li>
      <%= link_to 'ログイン', login_path %>
    </li>
  
  <% end %>
</ul>
</header>