<!DOCTYPE html>
<html>
  <head>
    <title>TSUKUTTE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <%= link_to "TSUKUTTE", root_path %>
      </div>
      <ul class="header-menus">
        <li>
          
          <%= link_to "TSUKUTTEとは", about_path %>
        </li>
        <li>
          
          <%= link_to "投稿一覧", posts_path %>
        </li>
        <li>
          <!-- ここに新規投稿ページへのリンクを追加してください -->
          <%= link_to "新規投稿", new_post_path %>
        </li>
        
        <li>
          <%= link_to "ユーザー一覧", users_path %>
        </li>
        
        <li>
          <%= link_to "新規登録", new_user_path %>
        </li>
      </ul>
    </header>
    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
